<div class="row">
    <div class="col-lg-12">
        <div class="tabs tabs-secondary">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#properties" data-toggle="tab" aria-expanded="true"><i class="fa fa-star"></i>
                        Test Session</a>
                </li>
                <li class="">
                    <a href="#listExams" data-toggle="tab" aria-expanded="false">List exams</a>
                </li>
                <li class="">
                    <a href="#listMembers" data-toggle="tab" aria-expanded="false">List members</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="properties" class="tab-pane active">
                    <section class="panel panel-admin">
                        <header class="panel-heading">
                            <div class="panel-actions">
                                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                                <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                            </div>

                            <h2 class="panel-title">Test Session Properties</h2>
                        </header>
                        <div class="panel-body">
                            <form class="form-horizontal form-bordered" method="post" accept-charset="UTF-8" action="/test_sessions/update">
                                <%= csrf %>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="inputReadOnly">ID</label>
                                    <div class="col-md-6">
                                        <input type="text" value="<%= @test_session.id %>" id="session_id"
                                            class="form-control" readonly="readonly" name="session[id]">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="inputHelpText">Phiên</label>
                                    <div class="col-md-6">
                                        <input name="session[content]" type="text" class="form-control" id="session_content" value="<%= @test_session.content %>">
                                        <span class="help-block">Nội dung của phiên thi.</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="inputHelpText">Người tạo</label>
                                    <div class="col-md-6">
                                        <input name="session[user]" type="text" class="form-control" id="session_user" value="<%= @test_session.user.email %>">
                                        <span class="help-block"><i class="fa fa-user-circle-o"></i> <%= @test_session.user.name if nameNotNil %></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="inputReadOnly">Ngày tạo</label>
                                    <div class="col-md-6">
                                        <input type="text" value="<%= @test_session.created_at %>" id="inputReadOnly"
                                            class="form-control" readonly="readonly">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="inputReadOnly">Ngày sửa</label>
                                    <div class="col-md-6">
                                        <input type="text" value="<%= @test_session.updated_at %>" id="inputReadOnly"
                                            class="form-control" readonly="readonly">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">File Upload</label>
                                    <div class="col-md-6">
                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                            <div class="input-append">
                                                
                                                <span class="btn btn-default btn-file">
                                                    <%# <span class="fileupload-exists">Change</span>
                                                    <span class="fileupload-new">Select file</span> %>
                                                    <input type="file" />
                                                </span>
                                                <a href="#" class="btn btn-default fileupload-exists"
                                                    data-dismiss="fileupload">Remove</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-3d btn-secondary mr-xs mb-sm" name="commit" type="submit">Save</button>
                                </div>
                            </form>

                        </div>
                    </section>
                </div>
                <div id="listExams" class="tab-pane">
                    <% @list_exams = @test_session.list_exams.split(",")%>
                    <%= render partial: '/test_sessions/list_exams'%>
                </div>
                <div id="listMembers" class="tab-pane">
                    <% @list_members = @test_session.session_members.ids %>
                    <%= render partial: '/test_sessions/list_members'%>
                </div>
            </div>
        </div>
    </div>
</div>