<% @posts.each do |post| %>
<div class="col-md-4">
    <div class="recent-posts">
        <article class="post">
            <div class="date">
                <span class="day"><%= post.created_at.strftime("%d") %></span>
                <span class="month"><%= post.created_at.strftime("%b") %></span>
            </div>
            <h4><a href="/posts/<%= post.id %>"><%= post.title%></a></h4>
            <p><%= post.content.to_s[0..100]+" ..." %></p>
            <div class="post-meta">
                <span><i class="fa fa-calendar"></i><%= post.created_at.strftime("%b %d, %Y") %></span>
                <span><i class="fa fa-user"></i> By 
                    <a href="#">
                    <% if post.user.name != nil %>
                    <%= post.user.name %>
                    <% else %>
                    <%= post.user.email %>
                    <% end %>
                    </a> 
                </span>
                <span><i class="fa fa-tag"></i> <a href="#">Duis</a>, <a href="#">News</a> </span>
                <span><i class="fa fa-comments"></i> <a href="#"><%= post.comments.count %> Comments</a></span>
                <hr class="solid">
                <a href="/posts/<%= post.id %>" class="btn btn-xs btn-primary pull-right mb-lg">Read more...</a>
            </div>
        </article>
    </div>
</div>
<% end %>