<% provide(:title, 'Exam') %>
<%= form_for :exam, url: exam_path do |form| %>

    <% @timeRemaining = getTimeRemaining(@exam_id)%>
    <script>
        var upgradeTime = <%= @timeRemaining %> ;
        var seconds = upgradeTime;
        function timer() {
            var days        = Math.floor(seconds/24/60/60);
            var hoursLeft   = Math.floor((seconds) - (days*86400));
            var hours       = Math.floor(hoursLeft/3600);
            var minutesLeft = Math.floor((hoursLeft) - (hours*3600));
            var minutes     = Math.floor(minutesLeft/60);
            var remainingSeconds = seconds % 60;
        function pad(n) {
            return (n < 10 ? "0" + n : n);
        }
        document.getElementById('countdown').innerHTML = pad(hours) + ":" + pad(minutes) + ":" + pad(remainingSeconds);
        if (seconds == 0) {
            clearInterval(countdownTimer);
            document.getElementById('countdown').innerHTML = "Hết giờ làm bài!";
        } else {
        seconds--;
        }
        }
        var countdownTimer = setInterval('timer()', 1000);
    </script>
    <style type="text/css">
        .flip-clock-wrapper{
            
            border: 1px solid red;
            font-size: 30px;
            position: fixed;
            margin-right: 10%;
        }
    </style>
    <div class="col text-right">
        <span id="countdown" class="timer flip-clock-wrapper"></span>
    </div>

    <% @list = getAllQuestionID(@exam_id)%>
    <% $i=0 %>
    <% @list.each do |li|%> 
      <% $i+=1 %>
        <% if $i%2==0 %>
            <section class="container bg-success">
                <h4> 問題:<%= $i%> </h4>
                <h4><%= markdown(Question.find(li).content) %></h4>
                    <% @temp=eval(Question.find(li).answers)%>
                <div class="custom-control custom-radio">
                    <label class="custom-control-label" id="ア">
                    <input type="radio" class="custom-control-input" name=<%= $i %>> <%= @temp[:a] %></label>
                </div>
                <div class="custom-radio custom-control">
                    <label class="custom-control-label" id="イ" >
                    <input type="radio" class="custom-control-input" name=<%= $i %>> <%= @temp[:i] %></label>
                </div>
                <div class="custom-radio custom-control ">
                    <label class="custom-control-label" id="ウ" >
                    <input type="radio" class="custom-control-input" name=<%= $i %>> <%= @temp[:u]%></label>
                </div>
                <div class="custom-radio custom-control">
                    <label class="custom-control-label" id="エ" >
                    <input type="radio" class="custom-control-input" name=<%= $i %>> <%= @temp[:e]%></label>
                </div>
            </section>
        <% else %>
            <section class="container bg-warning">
                <h4> 問題:<%= $i%> </h4>
                <h4><%= markdown(Question.find(li).content) %></h4>
                    <% @temp=eval(Question.find(li).answers)%>
                <div class="custom-control custom-radio">
                    <label class="custom-control-label" id="ア">
                    <input type="radio" class="custom-control-input" name=<%= $i %>> <%= @temp[:a] %></label>
                </div>
                <div class="custom-radio custom-control">
                    <label class="custom-control-label" id="イ" >
                    <input type="radio" class="custom-control-input" name=<%= $i %>> <%= @temp[:i] %></label>
                </div>
                <div class="custom-radio custom-control ">
                    <label class="custom-control-label" id="ウ" >
                    <input type="radio" class="custom-control-input" name=<%= $i %>> <%= @temp[:u]%></label>
                </div>
                <div class="custom-radio custom-control">
                    <label class="custom-control-label" id="エ" >
                    <input type="radio" class="custom-control-input" name=<%= $i %>> <%= @temp[:e]%></label>
                </div>
            </section>
        <% end %>

    <% end %>

    </br>

    <button type="button" id="submit-btn" class="btn btn-primary btn-block">Nộp bài</button>

    <% @listCorrectAnwsers = getCorrectAnwsers(@exam_id)%>

    <script>
        var listCA = <%=raw @listCorrectAnwsers %>;
        var button = document.getElementById("submit-btn");
        var point = 0;

            button.onclick = function(){
                var element = document.getElementsByClassName("custom-control-label");
                var arrayAnswer = [];
                var checkbox = document.getElementsByClassName("custom-control-input");
                for(var i=0;i<checkbox.length/4;i++){
                    for(var j=0;j<4;j++){
                        if(checkbox[i*4+j].checked==true){
                            arrayAnswer[i]=element[i*4+j].id;
                        }
                    }
                    if(arrayAnswer[i]==null){
                        arrayAnswer[i]="x";
                    }
                }

                for(var i=0;i<arrayAnswer.length;i++){
                    if(arrayAnswer[i]==listCA[i]){
                        point++;
                    }
                }

                alert("Bạn trả lời đúng "+point+"/"+arrayAnswer.length+" câu!");
            };
        </script>

<% end %>