<% provide(:title, 'Exam') %>
<%= form_for :exam, url: exam_path do |form| %>
    <% @list = getAllQuestionID(@exam_id)%>
    <% $i=0 %>
    <% @list.each do |li|%>
      <% $i+=1 %>
        <% if $i%2==0 %>
            <section class="container bg-success">
                <h4> 問題:<%= $i%> </h4>
                <h4><%= markdown(Question.find(li).content) %></h4>
                    <% @temp=eval(Question.find(li).answers)%>
                <div class="custom-control custom-radio">
                    <label class="custom-control-label">
                    <input type="radio" class="custom-control-input" name=<%= $i %>> <%= @temp[:a] %></label>
                </div>
                <div class="custom-radio custom-control">
                    <label class="custom-control-label">
                    <input type="radio" class="custom-control-input" name=<%= $i %>> <%= @temp[:i] %></label>
                </div>
                <div class="custom-radio custom-control">
                    <label class="custom-control-label">
                    <input type="radio" class="custom-control-input" name=<%= $i %>> <%= @temp[:u]%></label>
                </div>
                <div class="custom-radio custom-control">
                    <label class="custom-control-label">
                    <input type="radio" class="custom-control-input" name=<%= $i %>> <%= @temp[:i]%></label>
                </div>
            </section>
        <% else %>
            <section class="container bg-warning">
                <h4> 問題:<%= $i%> </h4>
                <h4><%= markdown(Question.find(li).content) %></h4>
                    <% @temp=eval(Question.find(li).answers)%>
                <div class="custom-control custom-radio">
                    <label class="custom-control-label">
                    <input type="radio" class="custom-control-input" name=<%= $i %>> <%= @temp[:a] %></label>
                </div>
                <div class="custom-radio custom-control">
                    <label class="custom-control-label">
                    <input type="radio" class="custom-control-input" name=<%= $i %>> <%= @temp[:i] %></label>
                </div>
                <div class="custom-radio custom-control">
                    <label class="custom-control-label">
                    <input type="radio" class="custom-control-input" name=<%= $i %>> <%= @temp[:u]%></label>
                </div>
                <div class="custom-radio custom-control">
                    <label class="custom-control-label">
                    <input type="radio" class="custom-control-input" name=<%= $i %>> <%= @temp[:i]%></label>
                </div>
            </section>
        <% end %>
    
    <% end %>
    </br>
        <button type="button" class="btn btn-primary btn-block">Nộp bài</button>
    
<% end %>