<!DOCTYPE html>
<html>

<head>
  <%= csrf_meta_tag %>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title><%= @title %> | Test online</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/icon_title.png" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/img/icon_title.png" />

  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <!-- Web Fonts  -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light"
    rel="stylesheet" type="text/css" />

  <!-- Vendor CSS -->
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/vendor/animate/animate.min.css" />
  <link rel="stylesheet" href="/vendor/simple-line-icons/css/simple-line-icons.min.css" />
  <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.carousel.min.css" />
  <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.theme.default.min.css" />
  <link rel="stylesheet" href="/vendor/magnific-popup/magnific-popup.min.css" />

  <!-- Theme CSS -->
  <link rel="stylesheet" href="/css/theme.css" />
  <link rel="stylesheet" href="/css/theme-elements.css" />
  <link rel="stylesheet" href="/css/theme-blog.css" />
  <link rel="stylesheet" href="/css/theme-shop.css" />

  <!-- Current Page CSS -->
  <link rel="stylesheet" href="/vendor/rs-plugin/css/settings.css" />
  <link rel="stylesheet" href="/vendor/rs-plugin/css/layers.css" />
  <link rel="stylesheet" href="/vendor/rs-plugin/css/navigation.css" />
  <link rel="stylesheet" href="/vendor/circle-flip-slideshow/css/component.css" />
  <link rel="stylesheet" href="/vendor/nivo-slider/nivo-slider.css">
	<link rel="stylesheet" href="/vendor/nivo-slider/default/default.css">


  <link rel="stylesheet"
    href="/css/bootstrap-datetimepicker.css" />
  <!-- Skin CSS -->
  <link rel="stylesheet" href="/css/skins/default.css" />

  <!-- Theme Custom CSS -->
  <link rel="stylesheet" href="/css/custom.css" />

  <!-- Head Libs -->
  <script src="/vendor/modernizr/modernizr.min.js"></script>

</head>

<body>
  <div class="body">
    <header id="header"
      data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 57, 'stickySetTop': '-57px', 'stickyChangeLogo': true}">

      <div class="header-body">
        <div class="header-container container">
          <div class="header-row">
            <div class="header-column">
              <div class="header-logo">
                <a href="/">
                  <img alt="Porto" width="222" height="70" data-sticky-width="164" data-sticky-height="52"
                    data-sticky-top="33" src="/img/logo_logo.png" />
                </a>
              </div>
            </div>
            <div class="header-column">
              <div class="header-row">
                <div class="header-search hidden-xs">
                  <form id="searchForm" action="/search/index" method="post">
                    <%= csrf %>
                    <%= optionsForm("home", "search")%>
                    <div class="input-group">
                      <input type="text" class="form-control" name="home[key]" id="q" placeholder="Search..."
                        required />
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                          <i class="fa fa-search"></i>
                        </button>
                      </span>
                    </div>
                  </form>
                </div>
                <nav class="header-nav-top">
                  <ul class="nav nav-pills">
                    <li class="hidden-xs">
                      <a href="about-us.html"><i class="fa fa-angle-right"></i> About Us</a>
                    </li>
                    <li class="hidden-xs">
                      <a href="contact-us.html"><i class="fa fa-angle-right"></i> Contact Us</a>
                    </li>
                    <li>
                      <span class="ws-nowrap"><i class="fa fa-phone"></i> (123) 456-789</span>
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="header-row">
                <ul class="header-nav">
                  <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
                    <i class="fa fa-bars"></i>
                  </button>
                  <ul class="header-social-icons social-icons hidden-xs">
                    <li class="social-icons-facebook">
                      <a href="http://www.facebook.com/" target="_blank" title="Facebook"><i
                          class="fa fa-facebook"></i></a>
                    </li>
                    <li class="social-icons-twitter">
                      <a href="http://www.twitter.com/" target="_blank" title="Twitter"><i
                          class="fa fa-twitter"></i></a>
                    </li>
                    <li class="social-icons-linkedin">
                      <a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i
                          class="fa fa-linkedin"></i></a>
                    </li>
                  </ul>
                  <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
                    <nav>
                      <ul class="nav nav-pills" id="mainNav">
                        <li class="dropdown active">
                          <a class="dropdown-toggle" href="/home">
                            Home
                          </a>

                        </li>
                        <li class="dropdown">
                          <a class="dropdown-toogle" href="/posts">Posts</a>
                          <ul class="dropdown-menu">
                            <li>
                              <a href="/posts/new">New Post</a>
                            </li>
                            <li>
                              <a href="/users/home#recent">My Posts</a>
                            </li>
                          </ul>
                        </li>
                        <li class="dropdown">
                          <a class="dropdown-toogle" href="/test_sessions">Test Sessions</a>
                          <% if isAdmin%>
                          <ul class="dropdown-menu">
                            <li>
                              <a href="/test_sessions/new">New Test Session</a>
                            </li>
                          </ul>
                          <% end %>
                        </li>
                        <% if isAdmin%>
                        <li class="dropdown">
                          <a class="dropdown-toogle" href="/exams">Test Exams</a>
                          <ul class="dropdown-menu">
                            <li>
                              <a href="/exams/new">New Exams</a>
                            </li>
                          </ul>
                        </li>
                        <% end %>
                        <% if signed_in? %>
                        <li class="dropdown">
                          <a class="dropdown-toggle">Profile</a>
                          <ul class="dropdown-menu">
                            <li>
                              <a href="/users/home">Your Profile</a>
                            </li>
                            <li>
                              <%= link_to t(".sign_out"), sign_out_path, method: :delete %>
                            </li>
                          </ul>
                        </li>
                        <% else -%>
                        <li class=""></li>
                        <li>
                          <%= link_to t(".sign_in"), sign_in_path %>
                        </li>
                        </li>
                        <% end -%>


                        <!-- accout here -->
                      </ul>
                    </nav>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </header>
  <div role="main" class="main">
    <div id="flash">
      <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
      <% end %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </div>

  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="footer-ribbon">
          <span>Get in Touch</span>
        </div>
        <div class="col-md-3">
          <div class="newsletter">
            <h4>Newsletter</h4>
            <p>
              Keep up on our always evolving product features and
              technology. Enter your e-mail and subscribe to our newsletter.
            </p>

            <div class="alert alert-success hidden" id="newsletterSuccess">
              <strong>Success!</strong> You've been added to our email list.
            </div>

            <div class="alert alert-danger hidden" id="newsletterError"></div>

            <form id="newsletterForm" action="php/newsletter-subscribe.php" method="POST">
              <div class="input-group">
                <input class="form-control" placeholder="Email Address" name="newsletterEmail" id="newsletterEmail"
                  type="text" />
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">Go!</button>
                </span>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-3">
          <h4>Latest Tweets</h4>
          <div id="tweet" class="twitter" data-plugin-tweets data-plugin-options="{'username': '', 'count': 2}">
            <p>Please wait...</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-details">
            <h4>Contact Us</h4>
            <ul class="contact">
              <li>
                <p>
                  <i class="fa fa-map-marker"></i>
                  <strong>Address:</strong> 1234 Street Name, City Name,
                  United States
                </p>
              </li>
              <li>
                <p>
                  <i class="fa fa-phone"></i> <strong>Phone:</strong> (123)
                  456-789
                </p>
              </li>
              <li>
                <p>
                  <i class="fa fa-envelope"></i> <strong>Email:</strong>
                  <a href="mailto:mail@example.com">mail@example.com</a>
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <h4>Follow Us</h4>
          <ul class="social-icons">
            <li class="social-icons-facebook">
              <a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="social-icons-twitter">
              <a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="social-icons-linkedin">
              <a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-1">
            <a href="index.html" class="logo">
              <img alt="Porto" width="70" height="70" data-sticky-width="52" data-sticky-height="52"
                data-sticky-top="33" src="/img/icon_title.png" />
            </a>
          </div>
          <div class="col-md-7">
            <p>© Copyright 2017. All Rights Reserved.</p>
          </div>
          <div class="col-md-4">
            <nav id="sub-menu">
              <ul>
                <li><a href="page-faq.html">FAQ's</a></li>
                <li><a href="sitemap.html">Sitemap</a></li>
                <li><a href="contact-us.html">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </footer>
  </div>

  <!-- Vendor -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/jquery.appear/jquery.appear.min.js"></script>
  <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/vendor/jquery-cookie/jquery-cookie.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/vendor/common/common.min.js"></script>
  <script src="/vendor/jquery.validation/jquery.validation.min.js"></script>
  <script src="/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
  <script src="/vendor/jquery.gmap/jquery.gmap.min.js"></script>
  <script src="/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
  <script src="/vendor/isotope/jquery.isotope.min.js"></script>
  <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script src="/vendor/vide/vide.min.js"></script>

  <!-- Theme Base, Components and Settings -->
  <script src="/js/theme.js"></script>

  <!-- Current Page Vendor and Views -->
  <script src="/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
  <script src="/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
  <script src="/vendor/circle-flip-slideshow/js/jquery.flipshow.min.js"></script>
  <script src="/vendor/nivo-slider/jquery.nivo.slider.min.js"></script>
  <script src="/js/views/view.home.js"></script>
  <script src="/js/moment.js"></script>
  <script src="/js/key.js"></script>
  <script src="/js/bootstrap-datetimepicker.min.js"></script>

  <!-- Theme Custom -->
  <script src="/js/custom.js"></script>

  <!-- Theme Initialization Files -->
  <script src="/js/theme.init.js"></script>
  <script src="/js/autosize.min.js"></script>
  <script src="/js/showdown.min.js"></script>
  <script src="/js/showdown-youtube.min.js"></script>
  <script src="/vendor/circle-flip-slideshow/js/jquery.flipshow.min.js"></script>
  <%if @url != nil %>

  <%# <script src="/js/showdown-github.min.js"></script> %>
  <script>
    var pageURL = $(location).attr("href");
    $.get(pageURL + '/md', function (data) {
      var content = data;
      //var converter = new showdown.Converter();
      var converter = new showdown.Converter({ extensions: ['youtube'], tables: true });

      var md_html = converter.makeHtml(content);
      $('#pContent').append(md_html);
      var t = $('table').addClass('table')
    });

  </script>
  <% end %>
  <script type="text/javascript">
    $(function () {
      $('#datetimepicker4').datetimepicker();
    });
    $(document).key('ctrl+shift+f', function () {
      $('#formModal').modal();
    });
    $(document).key('ctrl+shift+h', function () {
      var origin_link = $(location).attr('host');
      window.open('http://' + origin_link + '/posts/howtomarkdown');
      //window.open('https://www.google.com');
    });
    autosize(document.getElementById('create_post_textarea'));
    $.get('/posts/markdown', function (data) {
      var content = data;
      //var converter = new showdown.Converter();
      var converter = new showdown.Converter({ extensions: ['youtube'], tables: true });
      var md_help = converter.makeHtml(content);
      $('#helpmarkdown').append(md_help);
      var t = $('table').addClass('table')
    });
    key_id = "";
    $("#btnAdd").click(function(){
      current_value = $.trim($("#list_questions").val());
      $("#list_questions").val($.trim(current_value+"\r\n"+key_id));
    });
    $("#changebox").on("input", function(){
      data = $("#changebox").val();
      //console.log(data);
      $.post( "/jquery", { key: data }, function(result){
        $("#qtResult").val("");
        temp = "";
        cont = "";
        result.forEach(function(item){
          console.log(item.content)
            temp += item.id + "\r\n";
            cont += item.content +" ["+item.id+"]"+ "\r\n";
        });
        $("#qtResult").val(cont);
        key_id = $.trim(temp);
      });
    });
  </script>
  <script>
        $("#submit-btn").click(function(){
                var element = $(".custom-control-label");
                var arrayAnswer = [];
                var checkbox = $(".custom-control-input");
                for(var i=0;i<checkbox.length/4;i++){
                    for(var j=0;j<4;j++){
                        if(checkbox[i*4+j].checked==true){
                            arrayAnswer[i]=element[i*4+j].id;
                        }
                    }
                    if(arrayAnswer[i]==null){
                        arrayAnswer[i]="x";
                    }
                }
                $.post('/test_papers/final',
                        {answers: arrayAnswer},
                    );
                
        });
    </script>
</body>

</html>